.gridProducts {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  margin-top: 20px;
}

.product {
  position: relative;
  width: 33.33%;
  margin-bottom: 10px;
}

.product > a {
  color: black !important;
}
.product > a:hover {
  color: red !important;
}

.product > a > div {
  position: relative;
  padding: 10px 10px 0 10px;
}
.product > a > div:hover {
  opacity: 0.6;
}

.product > a > div:last-of-type {
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
}

.product > a > div > img {
  width: 100%;
  border-radius: 16px;
}

.product > a > div .discount {
  position: absolute;
  left: 10px;
  bottom: 5px;
}

.product > a > div .price {
  font-size: 18px;
}

.wishlistIcon {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 20px !important;
  z-index: 1;
}
