.carouselContainer {
  height: 100%;
}

.carouselContainer > div {
  height: 100%;
}

.carouselContainer > div > div {
  width: 80%;
  height: calc(100% - 100px);
  margin: 0 auto;
  border-radius: 20px;
}

.carouselContainer .dots {
  display: flex !important;
  align-items: flex-end;
  justify-content: center;
  height: 100px;
}

.carouselContainer .dots > li {
  height: 60%;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.carouselContainer .dots > li > img {
  border-radius: 10px;
}

.carouselContainer .dots > li > img:hover {
  cursor: pointer;
  opacity: 0.6;
}

.thumbnail {
  height: 100px; /* Ajusta este valor según sea necesario */
  width: 100px; /* Ajusta este valor según sea necesario */
  object-fit: cover;
}

.mainImage {
  height: auto; /* Permite que la altura se ajuste automáticamente */
  max-width: 100%; /* Ajusta el ancho máximo al 100% del contenedor */
  max-height: 500px; /* Ajusta este valor para limitar la altura máxima */
  object-fit: cover;
}

.mainImageContainer {
  width: 100%;
  padding-right: 10px; /* Añade separación al borde izquierdo */
  padding-bottom: 10px; /* Añade separación en la parte inferior */
  box-sizing: border-box;
}

.thumbnailContainer {
  padding: 5px; /* Ajusta este valor según sea necesario */
  width: 50%;
  box-sizing: border-box;
}

.thumbnailGrid {
  padding-left: 10px; /* Añade separación a las imágenes pequeñas */
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Añade un espacio entre las imágenes */
}
